 /* CSS tiedosto, joka sisältää tyylitiedot sivustolle */
 
 main {
     /* Taustaväri koko sivustolle */
   background-color: #F1F5F4;
   /* Fontti koko sivustolle */
   font-family: 'Roboto', sans-serif;
   /* Poista oletus marginaalit */
   margin: 0;
   padding: 5%;
 }

 nav {
   margin-bottom: 1%;
 }

 .container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
 }

/* Korttien muotoilut */

.card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 18px;
  background-color: #f8f9fa;
  text-align: center;
}

h1 {
  font-size: 38px;
  font-weight: bold;
}

h3 {
  font-size: 26px;
  font-weight: bold;
}

p {
  font-size: 18px;
  margin: 5px 0;
}
.weather-icon {
  width: 80px;
  height: 80px;
}

 /* Google fontit */

 .meie-script-regular {
   font-family: "Meie Script", cursive;
   font-weight: 400;
   font-style: normal;
 }

 /* BOOTSRAP NAVIGAATIO VÄRIT */

 /* taustan väri */
 .navbar-custom {
   background-color: greenyellow;
 }

 /* Tekstin väri */
 .navbar-custom .navbar-text {
   color: green;
 }

 /* linkin väri */
 .navbar-custom .navbar-nav .nav-link {
   color: green;
 }

 /* aktiivisen & hover-linkin väri */
 .navbar-custom .nav-item.active .nav-link,
 .navbar-custom .nav-item:hover .nav-link {
   color: #ffffff;
 }

 .navbar-custom a {
   text-decoration: none;
 }

 /* JSON kuva luokka */
 .img_luokka {
   width: 100%;
 }
