/* Taustan väri */
.navbar-custom {
    background-color: blueviolet;
}

/* Tekstin väri */
.navbar-custom .navbar-text {
    color: white;
}

/* Linkin väri */
.navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
}

/* Aktiivisen & hover-linkin väri */







.carusel-caption {
    background-color: white;
    opacity: 0.8;
}