/* Sivuston fontti*/
body {
  font-family: 'Poppins', sans-serif;
}

/* Alert linkin väri */
.alert a {
  color: black;
}

/* Navigaatio tekstin väri */
.navbar-custom .navbar-text {
    color: white;
}

/* Navigaatio linkin väri */
.navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
}

/* Kuvakaruselli */

.carousel-image {
    width: 100%;
    height: 500px;         
    object-fit: cover;     
  }

  @media (max-width: 768px) {
    .carousel-image {
      height: 300px;
    }
  }

/* Accordion */ 

.accordion-button:not(.collapsed) {
  background-color: #d4edda;
  color: #155724;
}

.accordion-button:focus {
  box-shadow: none;
}

/* Kuvagalleria */

.gallery-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .gallery-image {
    height: 180px;
  }
}

/* Yhteydenottolomakkeen valokuva */
.contact-image {
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
}

